*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #ededed;
    display: flex;
    flex-direction: column;
}

.nav-container{
    background: #fff059;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px 0;
}

.empty-yellow-container{
    background: #fff059;
    padding: 0 0 80px 0;
    /* border: 1px solid black; */
}


main{
    display: flex;
    flex-direction: column;
}

.greeting-section{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    /* padding: 120px 0 0 0; */
    /* align-items: stretch; */
    background: #fff059;
}

.left-yellow-empty-section, .central-white-greeting-section, .right-yellow-empty-section{
    padding: 40px 0 0 0;
    width: 33.3%;
}

.left-yellow-empty-section, .right-yellow-empty-section{
    background: #fff059;
}

.central-white-greeting-section{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px 10px 0 0;
}

.greeting-enter{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}


.signup-section, .help-to-enter-section{
    display: flex;
    flex-direction: row;
    background: #ededed;
    justify-content: center;
}


.left-gray-empty-signup-section, .central-white-signup-section, .right-gray-empty-signup-section{
    padding: 40px 0 120px 0;
    width: 33.3%;
}

.left-gray-empty-signup-section, .right-gray-empty-signup-section{
    background: #ededed;
}

.central-white-signup-section{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.central-white-signup-section form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #494949;
}

.central-white-signup-section form input{
    padding: 20px 85px 20px 85px;
    border-radius: 3.5px;
    border: 1px solid #7c7a7a;
}

.central-white-signup-section .continue-button{
    padding: 20px 148px 20px 148px;
    border-radius: 3.5px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    
    background: #3986fa ;
    
    border: 1px solid #7c7a7a;

}

.central-white-signup-section .create-account-button{
    padding: 20px 139px 20px 139px;
    border-radius: 3.5px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    
    background: white ;
    
    border: 1px solid #7c7a7a;

}















.left-gray-empty-help-section, .central-white-help-section, .right-gray-empty-help-section{
    width: 33.3%;
    padding: 25px 0 25px 0;
}

.central-white-help-section{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1px solid #ededed;
    border-radius: 0 0 10px 10px;
}

.central-white-help-section a{
    text-decoration: none;
    color: #3483FA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.protected-section{
    /* border: 1px solid   black; */
    width:100%;
    padding: 50px 0 80px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.protected-section span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #898989 ;
}

.protected-section a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #639ef7;
    text-decoration: none;
    
}



.footer-container{
    background: #FFFF;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0 45px 0;
}


.footer-container a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #494949;
}

.footer-container span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #898989 ;

}