body{
    background: white;
    background-image: url(img/acoustic-guitar.jpg);
}


*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

#navbar{
    background: #206648;
    height: 60px;
    /* border-radius: 5px; */
    margin-bottom: 13px;
    margin-top: -3px;
    padding: 18px 0 0 0;
}

#navbar a{

}

#navbar a:hover{
    color: #f5eb32;

}

#second-row{
    margin-top: 11px;
}




#acusticas-section{
    background: #8feac2;
    border-radius: 20px;
    border: 3px solid white;
    padding:12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#acusticas-section a{
    margin: 0 20px 0 20px;
    font-size: x-large;
    color: #3e6655;
}

#acusticas-section a:hover{
    color: blue;
}

#acusticas-section a:hover{
    color: #f5a534;
}

#basses-section{
    background: #3e6655;
    border-radius: 20px;
    border: 3px solid white;
    padding:12px;
}
    
#basses-section a{
    margin: 0 20px 0 20px;
    font-size: x-large;
    /* color: #3e6655; */
}

#basses-section a:hover{
    color: #f5a534;
}

#effects-section{
    background: #47e6a1;  
    border-radius: 20px;
    border: 3px solid white;
    padding:12px;
}

#effects-section a{
    margin: 0 20px 0 20px;
    font-size: x-large;
    /* color: #3e6655; */
}

#effects-section a:hover{
    color: #f5a534;
}

#amps-section{
    background: #37b37d;
    border-radius: 20px;
    border: 3px solid white;
    padding:12x;
}

#amps-section a{
    margin: 0 20px 0 20px;
    font-size: x-large;
    /* color: #3e6655; */
}


#amps-section a:hover{
    color: #f5a534;
}

#electric-guitars-section{
    background: #8feac2;
    border-radius: 20px;
    border: 3px solid white;
    padding:12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

#electric-guitars-section a{
    margin: 0 20px 0 20px;
    font-size: x-large;
    color: #3e6655;
}

#electric-guitars-section a:hover{
    color: #f5a534;
}

/************* About Us Content *********/

#carousel-section{
    background: white;
    /* border-radius: 10px; */
}

#description-section{
    border: 5px solid white;
    border-radius: 10px;
    background: #37b37d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


#description-section article{
    width: 86%;
    /* display: flex; */
    flex-direction: column;
    text-align:justify
}




#photo-section{
    border: 5px solid white;
    border-radius: 10px;
    background: #37b37d;
}



label{
    color: rgb(10, 140, 201);
    font-size: x-large;
}
























/* Contact-Us Page Styles */


