$bodyColor: #ededed;
$articleColor: #fff;
$asideColor: #ff8000;
$navColor: #528fd5;
$generalWidth: 80%;
$footerColor: black;
$markBorder: 0.3px solid black;

// articles styles::backdrop

@mixin article-style ($articleColor) {
    // background: $articleColor;
    background: $articleColor;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}

@mixin aside-style($asideColor){
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $asideColor;
            border-radius: 8px;
            

}

*{
    font-family:sans-serif;
    
}


body{
    background: $bodyColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    header{
        width: $generalWidth;
        display: flex;
        flex-direction: column;
        //border: $markBorder;

        .logo-contenedor{
            width: 100%;
            
            a{
                img{
                    width: 50px;
                }
            }
    
        }

        nav{
            background: $navColor;
            width: 100%;
            display: flex;
            align-items: flex-end;
            // border: $markBorder;

            .links{
              
                li{
                    list-style: none;
                    display: inline;
                    margin: 5px;
                    
                    
                    a{
                        text-decoration: none;
                        color: $articleColor;
                    } 
                }
            }
         }
    }

 
    .page{
        width: $generalWidth;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        justify-content: space-between;
        // border: $markBorder;

        .articles{
            width: 74%;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            height: 95%;
            // border: $markBorder;

            
            #article1, #article2{
                @include article-style($articleColor);
                height: 95%

            }
        }

        aside{
            @include aside-style($asideColor);

            h2{
                color: $articleColor;
            }

            p{
                text-align: center;
                width: 85%;
                color: $articleColor;
            }
        }

    }


    footer{
        width: $generalWidth;
        background: $footerColor;
        height: 60px;
        border: $markBorder;
        

        .footer-content{
            margin: 10px auto;
            p{
                color: white;
                text-align: center;
                
            
            }
            
        }

    }

}
