$bodyColor: #ededed;
$articleColor: #fff;
$asideColor: #ff8000;
$generalWidth: 90%;

body{
    background: $bodyColor;
    display: flex;
    header{
        width: $generalWidth;
        display: flex;

    }
    section{
        width: $generalWidth;

    }
    footer{
        width: $generalWidth;

    }

}