$border-test: 1px solid white;
$netflix-red-tone: #e50914;
$input-color-font: #474646;
$font-color-titles-subtitles: white;


@mixin red-button-features(){
    background: #e50914;
    padding: 9px;
    border: #e50914;
    border-radius: 3px;
    font-size: medium;
    color: white;
}

// @mixin black-container-style(){
//     border: 1px #333 solid;
//     width: 100%;
//     background: black;
//     display: flex;
//     flex-direction: row;
// }

@mixin black-container-style-type1(){
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: $border-test;
}

@mixin black-container-style-type2(){
    background: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: $border-test;
}

@mixin cover-style(){
    width:100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space;
    /* border: green solid 1px; */
    align-items: stretch;
//     background-image: url("/img/netflix-background.jpg");
}

@mixin main-screen-style(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97%;
}

@mixin titles-container-style(){
    width: 65%;
    height: 32%;
    position: relative;
    top: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin quieres-ver-subtitle-style(){
    font-size: x-large;
    // font-weight: bold;
    text-align: center;
    position: relative;
    top: 10px;
    color: $font-color-titles-subtitles;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background: #222222;
    
    .cover{
        width:100%;
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: space;
        /* border: green solid 1px; */
        align-items: stretch;
        background-image: url("/img/netflix-background.jpg");

        header{

            .navbar{
                // border: 1px solid red;
                position: relative;
                top: 15px;
                
                width: 100%;
                flex-direction: row;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: stretch;
    
                .left-nav{
                    // border: 1px solid blue;
                    left: 45px;
                    position: relative;
    
                    .logo-netflix{
                        width: 135px;    
                    }
                }
    
                .right-nav{
                    display: flex;
                    flex-direction: row-reverse;
                    // border: 1px solid green;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    position: relative;
                    right: 45px;
    
                    .language-button-container{
                        margin: 0 15px 0 0;
                        background: black;
                        border: #e50914 2px solid;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        // width: 150px;
    
                        .language-selector-button{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            background: black;
                            border: none;
    
                            i{
                                color: white;
                                background: transparent;
                                position: relative;
                                // top: 4px;
                                // right: -9px;
                            }
                            
    
                            select{
                                background: black;
                                border: black 1px solid;
                                margin: black;
                                color: white;
                                padding: 8px;
                                font-size: small;
                                font-weight: bold;
                                font-family: Arial, Helvetica, sans-serif;
    
                            }
                        }    
    
                    }
    
                    .login-button-container{
                        background: #e50914;
                        border: #e50914;
                        border-radius: 3px;
                        margin-left: 15px;
        
        
                        button{
                            background: #e50914;
                            padding: 9px;
                            border: #e50914;
                            border-radius: 3px;
                            font-size: medium;
                            color: white;
                                
                            }
                        }
                    }     
                    
                    

            }

        }

        .main-screen{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 97%;
            // border: white solid 1px;
            // min-height: 700px;

            .titles-container{
                // border: $border-test;
                width: 65%;
                height: 32%;
                position: relative;
                top: -55px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                
                
                .peliculas-title{
                    font-size: xxx-large;
                    font-weight: bolder;
                    width: 75%;
                    text-align: center;
                    color:$font-color-titles-subtitles;
                    // border: $border-test;
                }
    
                .donde-quieras-subtitle{
                    font-size: x-large;
                    font-weight: bold;
                    color:$font-color-titles-subtitles;
                }
    
                .quieres-ver-subtitle{
                    font-size: x-large;
                    // font-weight: bold;
                    text-align: center;
                    position: relative;
                    top: 10px;
                    color: $font-color-titles-subtitles;
                }

            }

            .login-section{
                display: flex;
                flex-direction: row;
                width: 45%;
                border: $border-test;
                justify-content: space-between;

                .email-input-container{
                    width: 70%;
                    height: 50px;
                    background: $netflix-red-tone;
                    // border: $border-test;

                    .email-input{
                        width: 100%;
                        height: 100%;
                        font-size: large;
                        color: $input-color-font;
                        border: white;
                    }

                    
                }

                .comenzar-button-container{
                    width: 30%;
                    height: 50px;
                    background: $netflix-red-tone;
                    border: $netflix-red-tone;

                    .comenzar-button{
                        @include red-button-features();
                        height: 100%;
                        width: 100%;
                        font-size: large;

                    }

                }
                

            }

            

        }
    
    }


    .black-containers-section{
        width: 100%;
        // height: 60%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        align-content: stretch;

        .disfruta-tv-container{
            @include black-container-style-type1();
            // background: black;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // width: 100%;
            // border: $border-test;
        }

        .descarga-series-container{
            @include black-container-style-type2();
        }

        .disfruta-donde-quieras-container{
            @include black-container-style-type1();
        }

        .crea-perfiles-container{
            @include black-container-style-type1();
        }

        .faq-container{
            @include black-container-style-type1();
            flex-direction: column;
            background: black;
            padding: 0 0 20px 0;

            .faq-title-container{
                font-size: xx-large;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 10px 0 10px 0;
            }

            .faq-buttons-container{
                flex-direction: column;
                // background: white;
                display: flex;
                flex-direction: column;
                width: 60%;

                .question-add-container{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    background: #303030;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px;
                    margin-top: 10px;

                    .faq-button{
                        width: 100%;
                        
                        
                    span{
                        background: #303030;
                        color: white;
                        width: 100%;
                        font-size: x-large;
                    }
    
                }


                i{
                    color: white;
                }

                }

                

            }

  /************************+ revisar +++++++*/
            .cover-2{
                @include cover-style();
                // background: black;

                .main-screen-2{
                    @include main-screen-style();

                    .titles-container-2{
                        @include titles-container-style();

                        .quieres-ver-subtitle-2{
                            @include quieres-ver-subtitle-style();
                        }   

                    }
                }
            }



         


        }

       
            
    }

}




// .listasup{
//   display: flex;
//   justify-content: space-between;
//   list-style: none;

// }



// .login{
//     /* border: blue solid 1px; */
//     width: 70%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// .email-start{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
//     flex-wrap: wrap;

// }



// p, li{
//     text-align: center;
//     font-family:Arial, Helvetica, sans-serif;
//     font-size: larger;
//     color: white;
//     direction: ltr;
// }






div.frecuentes{
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.items_in_divs{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.items_in_divs_0{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
}

#peliculas, #pregfreq{
    font-size: xxx-large;
    font-weight: 900;
}

p#dondequieras{
    font-size: x-large;
    font-weight:900;
}

p#quieresver{
    font-size: x-large;
    font-weight: 900;
}

p#numberphone{
    text-align: left;
}

.footer-class{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    /* max-width: 1000px; */
}

.menu-options{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

ul.final-questions {
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;

}

/* ul.final-questions li{
    display: inline;
    /* // list-style:;
} */

/* #comenzar:hover{
    color: blue;
} */ 